* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp1822732.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-image: url(/img/banner1.jpg);
  background-position: 90%;
  background-size: cover;
  border: 3px solid rgb(7, 165, 177);
  border-radius: 10px;
  height: 350px;
}

header img {
  max-width: 60%;
  max-width: 60%;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu li {
  padding: 20px;
  background-color: rgb(13, 14, 14);
  border-radius: 3px;
  box-shadow: 0px 0px 30px 0px rgba(140, 241, 82, 0.5);
  border: 2px solid rgb(46, 96, 116);
}

.menu li a {
  text-decoration: none;
  color: rgb(138, 248, 138);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 20px;
}

main {
  margin-top: 200px;
}
h2 {
  text-align: center;
  line-height: 60px;
  border-radius: 3px;
  border: 2px solid rgb(46, 96, 116);
  color: rgb(138, 248, 138);
  background-color: black;
  margin: 15px;
  font-family: "Bai Jamjuree", sans-serif;
}

.sinopsis {
  background-image: url(https://caracoltv.brightspotcdn.com/dims4/default/cdc93c3/2147483647/strip/true/crop/1371x720+64+0/resize/1200x630!/quality/90/?url=https:%2F%2Fcaracol-brightspot.s3-us-west-2.amazonaws.com%2Fassets%2Fshock%2Fcontent_files%2F2017_10%2Fimage_article%2Frick_y_morty.jpg);
  background-position: center top;
  background-size: cover;
  border: 3px solid rgb(7, 165, 177);
  border-radius: 10px;
  height: 400px;
}

.sinopsis p {
  color: rgb(138, 248, 138);
  text-align: center;
}

section {
  font-family: "Bai Jamjuree", sans-serif;
  padding: 20px;
  font-size: medium;
}

section p {
  padding: 7px;
}

.personajes {
  text-align: center;
  margin-top: 100px;
  font-family: "Bai Jamjuree", sans-serif;
}

.personajes h2 {
  background-color: black;
  color: rgb(138, 248, 138);
  text-align: center;
  border-radius: 3px;
  border: 2px solid rgb(7, 165, 177);
}

h3 {
  color: rgb(8, 8, 8);
}

.contenedor-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor-grid p {
  text-align: justify;
  line-height: 10px;
}
.grid-item img {
  width: 150px;
  border-radius: 5px;
}

.grid-item {
  background-color: rgb(12, 12, 12);
  color: rgb(138, 248, 138);
  border-radius: 5px;
  border: 2px solid rgb(46, 96, 116);
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.ver-serie {
  height: 350px;
  background-image: url("https://c.wallhere.com/photos/14/4a/Rick_and_Morty_Adult_Swim_cartoon_Rick_Sanchez-104620.png!d");
  background-size: cover;
  background-position: center center;
  border: 3px solid rgb(7, 165, 177);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.trailer {
  margin: -10px;
}

.trailer p {
  background-color: black;
  color: rgb(138, 248, 138);
  text-align: center;
  border-radius: 3px;
  border: 2px solid rgb(7, 165, 177);
  font-family: "Bai Jamjuree", sans-serif;
}

.ver-serie img {
  height: auto;
  margin-right: 30px;
  width: 250px;
  border-radius: 3px;
  box-shadow: 0px 0px 40px 0px rgb(198, 202, 202);
}

.ver-serie p {
  color: rgb(138, 248, 138);
}

footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 10px;
  background-color: black;
  margin-top: 10px;
}

nav li {
  padding: 6px;
  color: rgb(138, 248, 138);
  margin-top: 10px;
  list-style: none;
}

nav > ul > li {
  font-size: 14px;
}

nav p {
  color: rgb(138, 248, 138);
  font-size: 13px;
  margin-left: 10px;
  padding: 5px;
}

.rigth {
  padding: 10px;
  line-height: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.rigth img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.rigth > p {
  color: rgb(138, 248, 138);
  margin-right: -90px;
}

li figure {
  position: relative;
}

li figure:hover figcaption {
  display: block;
}

li figcaption {
  display: none;
  position: absolute;
  top: 5;
  left: 5;
  bottom: 5;
  right: 0;
  font-size: 14px;
  color: rgb(138, 248, 138);
}

@media (max-width: 480px) {
  header ul {
    flex-direction: column;
    text-align: center;
    width: 400px;
  }

  header img {
    margin-top: -30px;
    margin-bottom: 200px;
  }

  header li {
    margin-left: 10%;
  }

  .sinopsis img {
    margin-top: 5px;
    margin-left: 10px;
  }

  .sinopsis p {
    text-align: center;
    margin-top: 10px;
  }

  .personajes {
    margin-top: 50px;
  }

  .ver-serie {
    flex-direction: row;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(7, 165, 177);
    height: 250px;
  }
  .ver-serie img {
    width: 70%;
  }

  .trailer {
    margin: 10px;
    width: 50%;
    height: 50%;
  }

  .trailer p {
    margin-bottom: 10px;
    font-size: 13px;
    width: 200px;
    margin-top: -10px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .ver-serie h2 {
    background-color: black;
    color: rgb(7, 165, 177);
    border-radius: 5px;
    width: 200px;
  }
  .ver-serie p {
    line-height: 15px;
    font-size: 14px;
  }

  .left ul {
    margin-top: -11px;
  }

  .left p {
    font-size: 11px;
  }

  .rigth img {
    width: 25px;
    height: 25px;
  }
  .rigth p {
    font-size: 13px;
  }
}
